<div class="w-full h-auto">
    <iframe class="w-[380px] h-[240px] rounded-[20px] shadow-[0_5px_20px_0_var(--third-gray-color)] border border-[var(--secondary-gray-color)]" src="https://www.youtube.com/embed/VcX1bL4lyk0" title="Trading para Novatos - Sesion 1" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>