---
import ActivitiesCard from "./ActivitesElements/ActivitiesCard.astro";
---

<section class="w-full h-auto flex flex-col justify-start items-center my-20">
  <h2 class="text-[80px] leading-20 font-semibold text-center">
    Tu camino hacia la rentabilidad operando con <span class="blue-text">responsabilidad y seguridad</span>
  </h2>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-5 items-center mt-10 w-[550px] md:w-auto -z-1">
    <ActivitiesCard description="Operamos en brokers y exchanges regulados">
      <div class="relative  w-full h-full space-x-5">
        <div
          class="absolute left-[250px] bottom-4 transform -translate-x-[240px] w-[230px] h-[260px] flex justify-center items-center -rotate-[30deg] p-5 bg-black rounded-[25px] shadow-zinc-400/80 shadow-[-5px_7px_10px]"
        >
          <img src="/okx.png" alt="TradingView" />
        </div>
        <div
          class="absolute right-[250px] bottom-0 transform translate-x-[240px] w-[230px] h-[260px] flex justify-center items-center rotate-[30deg] bg-black rounded-[25px] shadow-zinc-400/80 shadow-[5px_7px_10px]"
        >
          <img src="/fxPro.jpg" alt="TradingView"  class="object-cover w-full h-full rounded-[25px]"/>
        </div>
      </div>
    </ActivitiesCard>
    <ActivitiesCard
      description="No recibas señales, mejor aprende a crearlas"
    >
    <img src="/Candlesticks_bg.png" alt="Candlesticks" class="absolute -bottom-10 right-0"/>
    </ActivitiesCard>
    <ActivitiesCard
      description="Si eres principante ingresa a nuestro material academico en YouTube"
    >
    <img src="/Course_bg.png" alt="Courses" class="absolute bottom-0 rounded-lg" width="450"/>
    </ActivitiesCard>
    <ActivitiesCard
      description="Y acompañanos a nuestras sesiones en vivo 24/7"
    >
      <img src="/Lives_bg.png" alt="Lives" class="absolute -bottom-10 rounded-lg" width="450"/>
    </ActivitiesCard>
  </div>
</section>
