<div class="hero-section flex flex-col justify-center items-center gap-10 text-center md:my-0 my-10">
    <h2 class="text-[70px] leading-20 font-semibold m-0 gray-text">No te quedes atrás unete y comienza a operar junto a la mejor comunidad de traders que hacen de su conocimiento  el mejor camino hacia la rentabilidad </h2>
   
</div>