<div class="hero-section flex flex-col justify-center items-center gap-10 text-center">
    <h1 class="text-h1 leading-20 font-semibold m-0">Convierte tu conocimiento en <span class="blue-text">capital</span></h1>
    <p class="w-[700px] text-lg">Unete a la mejor comunidad de traders en la que el aprendizaje y crecimiento continuo es en compañia.</p>
</div>

<style>
    .blue-text {
        background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>