@import 'tailwindcss';

:root {
  --primary-color: #13d695;
  --primary-green-color: #4ff0ba;
  --secondary-color: #0053be;
  --secondary-blue-color: #147bff;
  --primary-gray-color: rgb(22, 22, 32);
  --secondary-gray-color: rgb(12, 16, 19);
  --third-gray-color: rgba(24, 31, 37, 0.4);
  --fourth-gray-color: #848484;
  --fifth-gray-color: rgba(217, 217, 217, 0.9);
  --sixty-gray-color: rgba(17, 20, 22, 1);
  --seventy-gray-color: #8c8c8c;
}

.hero-section {
  width: 100%;
  height: 100dvh;
  padding: 0px 2rem;
}

.text-h1 {
  font-size: 90px;
}

.text-h2 {
  font-size: 2.1rem;
}

.blue-green-text {
  background-image: linear-gradient(to right,
      var(--primary-color),
      var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text {
  background-image: linear-gradient(to right,
      var(--secondary-blue-color),
      var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gray-text {
  background-image: linear-gradient(to right, white, rgb(78, 78, 78));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  padding: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--fourth-gray-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--seventy-gray-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--seventy-gray-color);
}

/* Scroll Reveal Animations */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s cubic-bezier(0.5, 0, 0, 1);
  filter: blur(5px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}