--- 
---

<nav>
  <ul>
    <li>
      <div class="logo">
        <a href="/"><img src="/CreemosCapitalLogo.png" alt="Logo" width="40" height="40"></a>
      </div>
    </li>
    <li><a href="/">Inicio</a></li>
    <li><a href="/materiales">Materiales</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>

<style>
  nav {
    max-width: 1200px; /* Ancho m치ximo para el contenido */
    width: 800px; /* En pantallas m치s peque침as, ocupa un ancho especifico para que se vea bien en todo tama침o de pantallas, en especial las de PC y laptop */
    margin: 0 auto; /* Centra el nav */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 2rem;
    background-color: #1a1a1a;
    color: white;
    border-radius: 30px;
  }  

  

  ul {
    width: 600px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0rem 1rem;
  }

  li {
    margin-left: 2rem;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
